<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Camunda External Task Form</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Mindmajix</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Camunda External Task Form</h1>
        <h2>
            <span th:text="'Hello, ' + ${processVariables['name']}"></span>
        </h2>
    </div>

    <div class="container">
        <form action="#" th:action="@{/external-form-complete}" method="post" >
            <input type="hidden" name="taskId" th:value="${param.taskId}" />
            <div class="form-group row">
                <div class="col-md-4 mt-5">
                    <label for="email">Email</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="email" readonly="true" th:value="${processVariables['email']}"/>
                    </div>

                    <label for="phone">Phone</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="phone" readonly="true" th:value="${processVariables['phone']}"/>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="approve">
                        <label class="form-check-label" for="approve">
                            Approve?
                        </label>
                    </div>
                </div>
            </div>
            <br/>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</main>

<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>